/.DS_Store
/.htaccess
/wp-config.php
uploads
wp-content/plugins/ima-plugin/.DS_Store
wp-content/.DS_Store
wp-content/plugins/.DS_Store
wp-content/themes/imagerie_theme/.DS_Store
wp-content/themes/imagerie_theme/fonts/mondara/.DS_Store
