/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  color: inherit;
  margin-bottom: 18px;
}

b,
.bold {
  font-weight: 700;
}

.hidden {
  opacity: 0;
  height: 0px;
  width: 0px;
  z-index: -1 !important;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 99;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
  transition: opacity .3s;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  line-height: 1;
  cursor: pointer;
}
.btn-black {
  background-color: black;
  color: white;
}
.text-right {
  text-align: right;
}



.the_content {
  padding: 100px;
  display: flex;
  justify-content: center;
}
.the_content_inner {
  width: 90%;
  max-width: 900px;

}
.the_content h1 {
  font-size: 60px;
  margin-bottom: 100px;
}

#footer {
  background-color:#BE3D0D;
  padding: 120px;
  background-image: url('img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#footer .menu ul {
  display: flex;
  gap: 20px;
}
#footer .menu a {
  color: #222;
  text-decoration: none;
}

/*
 * PROJECTS, THEMES & OBJECTS
 */

.swiper {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}

.swiper .theme_bg {
  height: 100vh;
  width: 100vw;
}
.swiper .containerback {
  z-index: 99;
  background-color: black;
  color: white;
}

.theme_objects {

}
.theme_objects .objet {
  position: absolute;
  border: none;
  background: none;
  opacity: .9;
  transition: all .5s;
}
.theme_objects .objet:hover {
  transform: rotate(180deg);
  cursor: pointer;
}
.about_trigger {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
}
.about_trigger:hover {
  text-decoration: underline;
  cursor: pointer;
}

.theme_about {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  overflow-y: scroll;
  background-color: white;
}

.theme_title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: all .5s;
}
.theme_title.out {
  top: -50px;
}
.theme_title span {
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 10px 40px;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
  text-transform: uppercase;
}
.theme_title span:after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: calc(50% - 35px);
  background-image: url('img/group.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 72px;
  height: 72px;
  z-index: -2;
  cursor: pointer;
}
.theme_title.out span:after {
  background-image: url('img/group-rotated.png');
}



/*
 * Module Push Projects
 */

.pushprojects {
  padding: 200px 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}


.title,
.textsubtitle {
  text-align: left;
}

.containerframe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: px;
}

.containerproj {
  flex: 1 1 30%;
  padding: 0px;
}

.projet_link {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  height: 100%;
}
.projet_link:hover .projet_text {
  background-color: #D2CECE33;
}

.containerproj img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.projet_text {
  padding: 37px 26px;
  background-color: #E4E4E433;
  flex: 1 1 auto;
}
.containerproj h2 {
  font-size: 26px;
  text-transform: uppercase;
  color: #2E2E2E;
  text-decoration: none;
}

.containerproj .textsubtitle {
  font-size: 19px;
  color: #707070;
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}




/*
 * Module Chronologie 
 */

.module_chronologie {
  display: flex;
  justify-content: space-between;
}

.module_chronologie.hidden {
  display: none;
}

.chrono_timeline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chrono_img {
  width: 40%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.chrono_img img {
  width: 100%;
  height: 100%;
}
.caption {
  font-style: italic;
  font-size: 14px;
  color: #707070;
  padding: 5px 10px;

}

.chrono_content {
  width: 60%;
  padding: 112px 100px 112px 150px;
  display: flex;
  align-items: center;
  gap: 100px;
}

figcaption {
  font-style: italic;
  font-weight: lighter;
  font-size: 20px;
  color: #707070;
  margin-top: 15px;
  margin-left: 250px;
}

.steptitle {
  font-size: 50px;
  color: #2E2E2E;
  margin-bottom: 50px;
  line-height: 1;
}

.step-content {
  line-height: 2;
  color: #707070;
}

.textdate {
  font-size: 30px;
  color: #CCCCCC;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
.textdate:hover {
  font-weight: 900;

}

.textdate.active {
  font-weight: 900;
}

/*
 * Module Présentation 
 */

.frameabout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.containerabout {
  width: 33%;
  padding: 0 0px 0 50px;
  color: #707070;
}
.about-content {
  margin-bottom: 20px;
  line-height: 2;
}
.imgabout {
  width: 60%;
}
.imgabout img {
  width: 100%;
  height: 550px;
  border-radius: 0px;
}



/*
 * Module Hero 
 */


 .frame {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.frame-background img {
filter:brightness(0.5);
  object-fit: cover;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}


.frame-overlay {
  position: absolute;
  top: 105px;
  left: 100px;
  bottom: 0;
  right: 0;
  background-color: rbga(0, 0, 0, .8);
  z-index: 2;
}


.frame-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  color:white; 
  text-transform: uppercase;
}


.bold {
  font-weight: 700;
}

/* Scroll Button */
.scrollbutton {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s;
}

.scrollbutton:hover {
  color: white;
}

.scrolltext {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.scrollicon {
  animation: bounce 1.5s infinite;
  size: 40px;
}

@keyframes bounce {

  0%,
  100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(10px);
  }
}

/* Framequote Section */
.framequote {
  background-color: #be3d0d;
  padding: 4rem 4rem;
  min-height: 40vh;
  position: relative;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

img.framequote-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  ;
}

.imgquote {
  max-width: 50px;
  position: absolute;
left: -50px;}



.containertext {
  position: relative;
  z-index: 1;
  max-width: 60%;
  margin-left: 40px;
}

.text-color {
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}
.text-color p {
  font-size: inherit;
}

.author {
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-size: 19px;
  font-weight: 300;
  float: right;
}



